# Secrets
.env
*.pem
*.key

# Python
venv/
.venv/
__pycache__/
*.py[cod]
.pytest_cache/
.ruff_cache/
*.egg-info/

# Données
data/
!data/.gitkeep
*.csv
*.txt.gz
!docs/**/*.txt

# Airflow
logs/
airflow.db
airflow.cfg
webserver_config.py

# Outils
.idea/
.vscode/
.DS_Store
